<div class="container">
  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-diagram-project"></i>Diagram primerov uporabe
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Diagram primerov uporabe -->
      <p>
        <strong><i class="fa-solid fa-list-check me-1"></i>TO-DO</strong>: https://teaching.lavbic.net/plantuml/png/dLRDRjim3BxxAOJiPY2z3HY68a1_rwxTMZHP3qCkZAqagbtAaELqwzP7w4FqNTht6YKxjcGxQJ1WA1P-tqTI54avJmHceE2UpI1A5aeM64SobOff1PWJn547USsA-HoAL4_uBtsGYWNU4ymY-iELmofo7a7EsP-0ENwFhD-7fT3SsAMAkIfj7pwU7duwEI8hA2KVIkCi9MNmvBY5I4jrwEXAIflG6x0XeTJRCvjBr6KD5Wf-rwawfgSWIFbSCosP4ekbPh5GFD92OX1ekU1woPKDOHDYFpAfO8OYgIs3QoNkO9NUSPnYiOO737BM83soayaPy-baSNazQZOqkGx_ZhmyN1qRsbFub2Vt95NuCSUS2nkt_E_1zVaQct28bW8NKoIZfQmj3kcImppbkk5K1eTo1BY2_ElOmkiVfkAcme2BbBF1wSqv4u-airKmXLvtt20ChsAg08IXKrYmpagWFY7uicl5oNTiTB7CYbpBLNKVrdvSsJQAmZ3Ne4MkHSBDxnNJCEEfS9sCQyOMDx5C2ZDM48axykGduK1RN22yFYjjQo1mBjMz4UG9dwBYRoz2hxZhzJj4H3uV-mwF9GfQ0NVSj4gLHcqZayzcJdn3Cm7zpAsf8w9hUBIQCBoWlL8e54jQCh5uUtbz5bWVt_1gmZ7XUIHmipUQqZauqY_cDz7fdpUVhHAAJ5Mj4uQAQbWWD1bOx0OYClhADUQfJ0E4uTdassMlXrk3M3SzTZQCvGEQSUo4fJbevroTEGmp6IivGqaDLXhiY81Nm-k6SsvHtzqj8RQ0gKniarcfiLvMXatXMIQry09fuNFBmQkgcyYt5r0YigD2jsgculMPxdQAZu3YNgnCYjPVfRkGkHLCId94t9yDS-UgDB5uDrIdHdKmlYMMRN1WCXEvFHsR5vX4z1X0YevhIxiof5CVDtrPhkw-2s9xHROtQg-Xpsn_dzvWZl5ej8EsssB6WS0eBMBUxw7tw9N3dQw4jN9qkwX9h6-kDoRt7mbqtTXTy4u2Rk9RReuDYwmSqzxrtDglxx3fZVCVvU78NxWTjBLRDu3LkzMBEW_I1hMReq_njaBG--4ntF6cDgexJtRWLiHIcWyHlnmTiBbxWzHV5i6EdMz4xXUDqvDjoElqVbstvOZdqFu1
        <strong>1 diagram primerov uporabe (DPU)</strong>, ki mora vsebovati vse
        primere uporabe, ki jih domača naloga podpira. Pri tem ne pozabite
        identificirati vseh akterjev, ki vaš sistem uporabljajo in zunanjih
        virov, do katerih vaš sistem dostopa.
      </p>
      <img
        src="https://teaching.lavbic.net/plantuml/png/VP4nJmCn38Lt_mghNM3eYDG9jRGmTw0RYo_dkqQNYol7fuAg_dVIku8Y42nHzBttRCTP9IEreG-utUrnoxq0fCx78odrM97hMfKXraw2A9fIJ5dYQ8MhveQ6OA_yRklWszXd6Lq-M0lNaDXHOZm35dKtOztJmHjVkMZDEh7vmylJydcJAQdAQO9Lo4cu56N9MURd7-79zrUZCX_5_f-faMZJwrkbZ-y-1Re016uCJL1zUp2ilR8pBn5W6c-sxl8oPaW9nnl0rpRkTkfxrhSu74MfulkhvmRtDmGmXd2nUFmjhJZM-Vi-0G00"
        class="mt-4 mb-4"
      />
      <p class="text-muted small mb-0">
        Diagram pripravite s pomočjo odprtokodnega orodja
        <a
          href="https://teaching.lavbic.net/plantuml/uml/VP4nJmCn38Lt_mghNM3eYDG9jRGmTw0RYo_dkqQNYol7fuAg_dVIku8Y42nHzBttRCTP9IEreG-utUrnoxq0fCx78odrM97hMfKXraw2A9fIJ5dYQ8MhveQ6OA_yRklWszXd6Lq-M0lNaDXHOZm35dKtOztJmHjVkMZDEh7vmylJydcJAQdAQO9Lo4cu56N9MURd7-79zrUZCX_5_f-faMZJwrkbZ-y-1Re016uCJL1zUp2ilR8pBn5W6c-sxl8oPaW9nnl0rpRkTkfxrhSu74MfulkhvmRtDmGmXd2nUFmjhJZM-Vi-0G00"
          target="_blank"
        ><i class="fa-solid fa-pen-to-square"></i>PlantUML</a>, ki ga
        gostimo na lastnem strežniku in pri tem uporabite
        <a href="https://plantuml.com/use-case-diagram" target="_blank"><i
            class="fa-solid fa-book"
          ></i>Use Case Diagram</a>
        ter rezultat vključite kot povezavo do slike, ki se zgenerira na
        strežniku.
      </p>
      <!-- KONEC: Diagram primerov uporabe -->
    </div>
  </div>

  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-diagram-project"></i>Razredni diagram
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Razredni diagram -->
      <p>
        <strong><i class="fa-solid fa-list-check me-1"></i>TO-DO</strong>: https://teaching.lavbic.net/plantuml/png/dLLjRzem4FxkNs6D3skLGKStD1PLI2rjjsvLcKh_W75CS0bsPZlfeEj_tpblE0cePHy8qTqzpzqzFb_qaekOABB2D29QusU4yOpGPQXa8eAnZAJ2JmjkcBLB5J2Lspg3wulXrHYiH2dvb1jd4I3H2z9rqhEpcIKZQZqQxKpGcP_EAHisKtmEXb_wfxlug1H6oMWl7P2rwRwo_g0_s4N7XE5cRt5iE1_CQGqdf65lbYfKP0scETHSCnZsnv28Xs85-J651rErB5jock6C8aA32oBHWWSCKwvenD3xBIJYWfbrpB1KPY4H6cU7EZMARGHVugPoNKnYFeaDbq9Z7qzcZumQiFTwFUljmgE3KoNu7TdmT6eBMB8ZdVsJcy37N9WFE9Qf8aRmdn6dFfudWbh2umfygJOabOUZyoey_EtgmVTFyD66B0nBYO-_6nFVizy9qu2NGIXJgKghZg4NTkm0br8JnIavyNamqIjybFqLsG_ah9SaOwx_kon1g387esq1B-MvicaaGzowNXvE-IQ1qTfmHHvz64OPCIAQw5kobedP1TyGRKWAalaOJekBi0cTsCPTOEdufVWZISakKWBdlgJyaJNch2ATmep22E-0winp2SfmK8r3Ip-caxjpPUzH1I_STdXmuqfx60wSvmENJQKJ-m2tvSPnVMDonOnQRsqUlYChrfAYbTKoEPaXiRSt4LHT4Do8L7BARk7Yjijsd6wDXNbhgkbOUFUokKpZH1leLxdT5c6Nn43JzfbPBtW4ooKy3mB5jDwZnbZ2thFzjeHeoUf5n5Il8YnUi_lrWd1ELu9U9Ql3hbPn9DUigO1NshSrtCAWrm_Nk-QgQUlSinZsgNwGzNH5puM4zMnUIzct9ficiSq6EVUq1-i0FYG9x77Ez7dCQpVcUJi7rn49OnPmiYkc-YIymttuTGFv9BeZUFlOwrb3Cych03UR6upxrcyHIPp5My2fDMJR2-Kxp3h_ZegLL8StiPd1BY2KRQ43a9-ieTXGgDnKXsREjnGgbbKTxOn_fekm11dSAbHEBQh6kf2obD66Emi3DNTBCxmUNKsz4vP7bQE8gb5jXHHt7Y5t7ULTRvl85N5pxefkX5VCRMdhmhgyhyKwUTyQ-my0
        <strong>1 VOPC razredni diagram</strong>, ki mora vsebovati načrt vseh
        razredov, ki jih bo vaša aplikacija implementirala (tj. vsaj
        funkcionalnosti datotek index.html, koda.js in API platforme Teaching
        API ter Ethereum testnega omrežja Sensei (vključite le tiste metode, ki
        jih vaša aplikacija uporablja)).
      </p>
      <img
        src="https://teaching.lavbic.net/plantuml/png/ZP51JiCm44NtFiMetL118h50GbLL5Gfi49jU04ti8JLrR3IUg1J4tPaaKDgks5Z9I_pV7tkH1LdQ9i3g3XmroPYyyV4D6Hkm0NE6JmDGeTtKdDhebYaaXktQ2tKyiICUsFZguVRwVgaKcTDsW5NGdURh83GceNzdremxHIyfoX4GUfURuElOK1ImkX0VMVx2RRzF66FMJ_gdMNj7O3tRGCOi-nb7J_GQFJ1-CBaHO8OUhFftcCsgBWbvDv_trSSexAjMfg2-LfwxEegBGfVpXYGvF9jedz_qH-tFAHmRzd1liGFvaHHxITQ7M9yA-a591x_iQiW5b6KvcUhnfK0OE_lX30NxUYt5gTMO1KMdz_yD"
        class="mt-4 mb-4"
      />
      <p class="text-muted small mb-0">
        Diagram pripravite s pomočjo odprtokodnega orodja
        <a
          href="https://teaching.lavbic.net/plantuml/uml/ZP51JiCm44NtFiMetL118h50GbLL5Gfi49jU04ti8JLrR3IUg1J4tPaaKDgks5Z9I_pV7tkH1LdQ9i3g3XmroPYyyV4D6Hkm0NE6JmDGeTtKdDhebYaaXktQ2tKyiICUsFZguVRwVgaKcTDsW5NGdURh83GceNzdremxHIyfoX4GUfURuElOK1ImkX0VMVx2RRzF66FMJ_gdMNj7O3tRGCOi-nb7J_GQFJ1-CBaHO8OUhFftcCsgBWbvDv_trSSexAjMfg2-LfwxEegBGfVpXYGvF9jedz_qH-tFAHmRzd1liGFvaHHxITQ7M9yA-a591x_iQiW5b6KvcUhnfK0OE_lX30NxUYt5gTMO1KMdz_yD"
          target="_blank"
        ><i class="fa-solid fa-pen-to-square"></i>PlantUML</a>, ki ga
        gostimo na lastnem strežniku in pri tem uporabite diagramsko tehniko
        <a href="https://plantuml.com/class-diagram" target="_blank"><i
            class="fa-solid fa-book"
          ></i>Class Diagram</a>
        ter rezultat vključite kot povezavo do slike, ki se zgenerira na
        strežniku.
      </p>
      <!-- KONEC: Razredni diagram -->
    </div>
  </div>

  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-diagram-project"></i>Diagram zaporedja
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Diagram zaporedja -->
      <p>
        <strong><i class="fa-solid fa-list-check me-1"></i>TO-DO</strong>: https://teaching.lavbic.net/plantuml/png/XP5DRiCW48Ntd68ka0jaKIdgAit6Kd_sOpF2KsAmCCuYT-WXUf6iwdi5Q08aIjKTFDxxvWVil7NmFbg7hM4j17QU3-YfqfIpyrZk7uOcQgn4hqba5LPFi1dthB7ZJrn3T36C5rkc5eiW8-_HssDBxdzsiZ4CD7ahoaEqvSmQ6XVq8sXhdMI37ZmfJA7Vsd_YGz3pP6YmeEQX1OamHjPoYf9aL0w7kxflX5tFHcsQRG98s-Rf8OH8ylBzynNwwCiogf2eph0Am6Sq1vnUNWCjKJXGzBptipFSt_AgJxkcXBYU4goURkViSZASvn2I7ZPKoOLQ3_rusuaU5ttXuqs1wlihDMFE
        <strong>1 diagram zaporedja</strong>, ki mora predstavljati podrobno
        implementacijo osnovega toka dogodkov ene izmed vaših glavnih
        funkcionalnosti, ki ste jo identificirali na primeru uporabe (glej
        diagram primerov uporabe).
      </p>
      <img
        src="https://teaching.lavbic.net/plantuml/png/XLFDIiD04BxlKmnwKOhOf0fIjFWFWk35UX0lc-oqhabdwsPI__0HV2iVp35hsuqKUbbcvvllPoVak6BjkPwKS7wlrACr22FdE7ElIbM5fQdsUWAPpeknTpMPt9NE0tjDbK1874qP7Ecwv5jyvPFIZcaYCEHoe8-cTCwYyA40CkSD-hD6CIl5uhUtS0hzbqVBg3vZllVk9IOjeGgVQwGS6_NIZl3Q4fv6BflxbwS75sU22e5jRgUQUFt0sapaE9YkZjz-wjZhDscD776-R7mg5JOpd3glCxA5Kb46sEZVP4zOC2GRe2kuILQZQK3JrMWleBt6oywqf5xQBIhO6OW-T3fApdaDVTZTXQlt6HhxG58QoVxzXOJDJHUYHwvYEoUbWNGux7IxQNSmGNP69rlRIf083_qqxYz9chtDQawWV_H007_3lTN3KJnevuD_0GEtrmxuvvMslVQsvXcsbS75rcI5lofXESrcxZnPS6RiPiwt9jFMBOblqQS-HZBo5_u0"
        class="mt-4 mb-4"
      />
      <p class="text-muted small mb-0">
        Diagram pripravite s pomočjo odprtokodnega orodja
        <a
          href="https://teaching.lavbic.net/plantuml/uml/XLFDIiD04BxlKmnwKOhOf0fIjFWFWk35UX0lc-oqhabdwsPI__0HV2iVp35hsuqKUbbcvvllPoVak6BjkPwKS7wlrACr22FdE7ElIbM5fQdsUWAPpeknTpMPt9NE0tjDbK1874qP7Ecwv5jyvPFIZcaYCEHoe8-cTCwYyA40CkSD-hD6CIl5uhUtS0hzbqVBg3vZllVk9IOjeGgVQwGS6_NIZl3Q4fv6BflxbwS75sU22e5jRgUQUFt0sapaE9YkZjz-wjZhDscD776-R7mg5JOpd3glCxA5Kb46sEZVP4zOC2GRe2kuILQZQK3JrMWleBt6oywqf5xQBIhO6OW-T3fApdaDVTZTXQlt6HhxG58QoVxzXOJDJHUYHwvYEoUbWNGux7IxQNSmGNP69rlRIf083_qqxYz9chtDQawWV_H007_3lTN3KJnevuD_0GEtrmxuvvMslVQsvXcsbS75rcI5lofXESrcxZnPS6RiPiwt9jFMBOblqQS-HZBo5_u0"
          target="_blank"
        ><i class="fa-solid fa-pen-to-square"></i>PlantUML</a>, ki ga
        gostimo na lastnem strežniku in pri tem uporabite diagramsko tehniko
        <a href="https://plantuml.com/sequence-diagram" target="_blank"><i
            class="fa-solid fa-book"
          ></i>Sequence Diagram</a>
        ter rezultat vključite kot povezavo do slike, ki se zgenerira na
        strežniku.
      </p>
      <!-- KONEC: Diagram zaporedja -->
    </div>
  </div>
</div>